[focus-visible] {
  outline: 2px solid var(--color-blue-8);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

[contrast=high] {
  color: light-dark(var(--color-black), var(--color-white));
  background-color: light-dark(var(--color-white), var(--color-black));
}

[sr-only] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}