[font-family="sans"] {
  font-family: var(--tf-sans);
}

[font-family="sans-humanist"] {
  font-family: var(--tf-sans-humanist);
}

[font-family="sans-geometric"] {
  font-family: var(--tf-sans-geometric);
}

[font-family="sans-grotesk"] {
  font-family: var(--tf-sans-grotesk);
}

[font-family="sans-industrial"] {
  font-family: var(--tf-sans-industrial);
}

[font-family="sans-rounded"] {
  font-family: var(--tf-sans-rounded);
}

[font-family="serif"] {
  font-family: var(--tf-serif);
}

[font-family="serif-oldstyle"] {
  font-family: var(--tf-serif-oldstyle);
}

[font-family="serif-classical"] {
  font-family: var(--tf-serif-classical);
}

[font-family="serif-slab"] {
  font-family: var(--tf-serif-slab);
}

[font-family="serif-antique"] {
  font-family: var(--tf-serif-antique);
}

[font-family="serif-didone"] {
  font-family: var(--tf-serif-didone);
}

[font-family="mono"] {
  font-family: var(--tf-mono);
}

[font-family="mono-slab"] {
  font-family: var(--tf-mono-slab);
}

[font-family="cursive"] {
  font-family: var(--tf-cursive);
}