@use "mixin" as mixin;
@use "const" as const;

/* ------------------------------------------------------------------ PADDING */
@include mixin.media(const.$breakpoints) using ($breakpointIndex, $breakpoint) {
  @for $i from 1 through const.$sizes {

    [s#{$breakpointIndex}~="pad-inline-start:#{$i}"],
    [s#{$breakpointIndex}~="pad-inline:#{$i}"],
    [s#{$breakpointIndex}~="pad:#{$i}"] {
      padding-inline-start: var(--gap-#{$i});
    }

    [s#{$breakpointIndex}~="pad-inline-end:#{$i}"],
    [s#{$breakpointIndex}~="pad-inline:#{$i}"],
    [s#{$breakpointIndex}~="pad:#{$i}"] {
      padding-inline-end: var(--gap-#{$i});
    }

    [s#{$breakpointIndex}~="pad-block-start:#{$i}"],
    [s#{$breakpointIndex}~="pad-block:#{$i}"],
    [s#{$breakpointIndex}~="pad:#{$i}"] {
      padding-block-start: var(--gap-#{$i});
    }

    [s#{$breakpointIndex}~="pad-block-end:#{$i}"],
    [s#{$breakpointIndex}~="pad-block:#{$i}"],
    [s#{$breakpointIndex}~="pad:#{$i}"] {
      padding-block-end: var(--gap-#{$i});
    }

  }
}